Package: moe.misty.surge4-advanced
Name: Surge 4 Advanced
Version: 0.0.3
Architecture: iphoneos-arm
Depends: mobilesubstrate (>= 0.9.5000)
Description: An awesome MobileSubstrate tweak!
Maintainer: NyaMisty
Author: NyaMisty
Section: Tweaks
